@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700&display=swap');
*{
    font-family: "Poppins", sans-serif;
}

/* Reset some default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", system-ui;
    color: #333;
    background-color: #f4f4f4;
}
.cryptopulse {
    width: 50px;
    padding: 0;
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #dad8e4;
    padding: 1rem;
}

.selector-for-some-widgetsss {
    box-sizing: content-box;
  }

.logo {
    color: #000000;
    font-size: 1.5rem;
    font-weight: bold;
    display: block;
    margin-left: none;    
    cursor: pointer;
}

.nav-links {
    list-style: none;
    display: flex;
    
    position: -300%;
}

.nav-links li {
    margin-left: 2rem;
    font-size: bolder;
    font-weight: 500;
}

.nav-links a {
    color: #000000;
    text-decoration: none;
    font-size: 1rem;
}

.nav-links a:hover {
    color: #fca311;
    text-decoration: none;
}

.button {
    display: flex;
    border: none;    
}

.sign-up{
    background-color: rgb(0, 0, 0);
    color: rgb(250, 242, 242);
    border: none;
    padding: 9px 16px;
    vertical-align: top;
    border-radius: 6px;
    cursor: pointer;
    margin-left: 8px;
    font-weight: bold;
    margin-right: 8px;

    transition: 0.3s ease;
  }

  
  .sign-up:hover {
    color: #dad8e4;
    opacity: 0.7;
    text-decoration: none;
  }

.login {
    color: #dad8e4;
    background-color: #fca311;
    border-radius: 6px;
    padding: 8px 16px;
    vertical-align: top;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s ease;
    
  }
  .login:hover {
    color:  #dad8e4;
    opacity: 0.7;
    text-decoration: none;
  }

  .log-in:active {
  opacity: 0.7;
  }

  .div_wall {
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(5, 5, 5, 0.5)50%), url(goldnbla.jpg);
    width: 100%;
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
  }
  .wall {
    display: inline-block;
    flex-wrap: wrap;
    position: absolute;
  }

  .intro {
    font-weight: 700;
    font-size: 80px;
    color: whitesmoke;
    padding: 50px;
    padding-bottom: 20px;
    margin-bottom: 0;
  }

  .content {
    color: whitesmoke;
    display: inline-block;
  }
  
  .sub_h {
    padding-left: 60px;
    margin-top: 0;
  }
  

  .summary {
    width: 800px;
    padding-left: 60px;
    padding-top: 60px;
    font-size: large;
    display: inline-block;
  }

  .highlight {
    color: #fca311;
  }
  
  .crypt {
    color:rgb(255, 255, 255);
    padding-left: 30px;
  }

  .alx {
    color: #fca311;
    cursor: pointer;
  }

  .alx:hover {
    text-decoration: none;
    color: #eeb457;
  }

  .meet{
    display: inline-block;
    width: 100%;
    padding-left: 30px;
  }
  
  .d_team {
    background-color: green;
    color: white;
    padding: 16px 16px ;
    border-radius: 6px;

  }
  .profile{
    background-color: #333;
    color: #e7e4de;
    border-radius: 6px;
    padding: 20px 30px 20px;
    opacity: 0.8;
    box-shadow: -2px  3px 9px #fca311;
    margin: 20px;
  }
  .profile p a {
    color: #fca311;
    cursor: pointer;
    text-decoration: none;
    transition: 0.3s ease;
  }

  .profile p a:hover {
    opacity: 0.6;
  }

  .space{
    display: flex;
  }

  .inspire {
    
    border-right: #fca311 solid 1px;
  }